@{
    ViewBag.Title = "Contact";
}

Year:
<input type="text" id="year" class="form-control"
       oninput="search()" />
<!-- input type="button" id="search" value="Search by City"
        class="btn btn-default" onclick="search()" /-->
<table class="table table-striped" id="years">
    <!-- this is the inner HTML for #customers -->
</table>
<script type="text/javascript"
        src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    function search() {
        $.ajax(
            {
                type: 'POST',
                url: '/Home/GetBooksByYear',
                data: '{Year: "' + document.getElementById("year").value
                + '"}',
                contentType: 'application/json; charset-utf-8',
                dataType: 'json',
                success:
                function (response) {
                    var tableHTML = "<tr><th>Title</th>"
                        + "<th>Author</th>"
                        + "<th>Year</th>"
                        + "<th>Genre</th></tr>";
                        for (var i = 0; i < response.length; i++) {
                            var book = response[i];
                            var tr = "<tr><td>" + book.Title + "</td>"
                                + "<td>" + book.Author + "</td>"
                                + "<td>" + book.YearPublished + "</td>"
                                + "<td>" + book.Genre + "</td>"
                                + "</tr>";
                            tableHTML += tr;
                        }
                        document.getElementById("years")
                            .innerHTML = tableHTML;
                    },
                failure: function (response) {
                    alert("Failure" + response.responseText);
                },
                error: function (response) {
                    alert("Error" + response.responseText);
                }
            }

        );
    }
</script>